.clas-1 {
  width: 92px;
  height: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.23px;
  text-decoration: none;
  color: #000;

}
.clas-2 {
 width: 155;
 height: 39px;
 background-color: #ff7500;
 color: #fff;
 text-decoration: none;
}
.clas-3 {
  background-color: #000;
}
.clas-4 {
  width: 387px;
  height: 304px;
  color: #fff;
}
.clas-5 {
 width: 339px;
 height: 96px;
 font-weight: 700;
font-size: 30px;
line-height: 40px;
}
.clas-6 {
  width: 387px;
  height: 96px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.clas-7 {
 width: 152px;
 height: 39px;
 background-color: #ff7500;
 color: #fff;
 text-decoration: none;
}