 body {
  font-family: "roboto", "arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
 }
 *:focus {
  outline: 2px dashed #ff7500;
 }

  .navigation {
    border-top: 4px solid #ff7500;
  }
  .logo {
    width: 250px;
    transition: opacity 0.5s ease;
  }
  .logo:hover {
    opacity: 0.8;
  }

  .logo:active {
    opacity: 0.6;
  }

  /* naigation */
  ul {
  list-style-type: none;
 }

  .text-nav {
  font-family: "Roboto", "Arial", serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
  transition: color 0.5s ease, opacity 0.5s ease;

 }

 .text-nav:hover {
  color: rgba(255, 117, 0, 1);
 }

 .text-nav:active {
  opacity: 0.6;
 }
 .Registration {
   width: 160px;
   background-color: #ff7500;
  transition: opacity 0.5s ease ;
 }

 .Regstration-text{
  padding: 5px;
  width: 180px;
  font-family: "roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #fff;
  text-decoration: none;
 }
 .Registration:hover {
  opacity: 0.8;
 }
 .Registration:active {
  opacity: 0.6;
 }

 .hero-line {
  background-color: #ff7500;
  width: 150px;
 }

 .section-1 {
  background-color:#000;
 }

 .book {
   width: 350px;
   font-family: "Roboto Condensed", "Arial", sans-serif;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   letter-spacing: 0.5px;
   color: #fff;
 }

 .abaut-book {
  width: 400px;
  font-family: "Roboto", "Arial", serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #fff;
 }

 .order {
  width: 120px;
  background-color: #ff7500;
  transition: 0.5s ease;
 }

 .order:hover {
  opacity: 0.8;
 }

 .order:active {
  opacity: 0.6;
 }
 .odrer-text {
  padding: 7px;
  width: 200px;
  color: #fff;
  text-decoration: none;
  font-family: "roboto", "arial", serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.5px;
 }

 .section-2 {
  background-color: #fff;
 }

 .Question {
  width: 400px;
  font-family: "Roboto Condensed", serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0.5px;
}
 .iconca {
  width: 100px;
  height: 100px;
  background-color: rgb(233, 183, 139)
  ;
 }
.title {
 width: 300px;
 font-family: 'Roboto Condensed', serif;
 font-weight: 700;
 font-size: 24px;
 line-height: 1.5;
 letter-spacing: 0.5px;
 color: #000;
}

.convenience {
 width: 350px;
 font-family: "roboto", "Aria", serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.5px;
 color: #000;
}

.section-3 {
  width: 1300px;
  background-color: #000;
}

.about-the-book {
 width: 400px;
 font-family: 'Roboto Condensed', serif;
 font-weight: 700;
 font-size: 40px;
 line-height: 48px;
 letter-spacing: 0.5px;
 color: #fff;
}
.definition {
 width: 500px;
 font-family: "Roboto", "Arial", serif;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.5px;
 color: #fff;
}
.separately {
  width: 500px;
 font-family: "Roboto", "Arial", serif;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.5px;
 color: #ff7500;
}

.network {
  width: 300px;
  font-family: "roboto", "Arial", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #252420;
  text-decoration: none;
}

.foot {
 background-color: rgba(248, 248, 248, 1);
}

.netvorks a:hover{
 color: #ff7500;
 opacity: 0.8;
}

.netvorks a:active{
  opacity: 0.6;
}

.panel {
  color: #000;
}

.panel:hover {
  color: #ff7500;
  opacity: 0.8;
}

.panel:active {
  opacity: 0.6;
}
