 body {
  font-family: "roboto", "arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
 }
  .logo {
    width: 250px;
  }

  /* naigation */
  ul {
  list-style-type: none;
 }

  .text-nav {
  text-decoration: none;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
 }

 .Registration {
  width: 180px;
  background-color: #ff7500;
  font-family: "roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #fff;
  text-decoration: none;
 }

 .hero-line {
  background-color: #ff7500;
  width: 150px;
 }

 .section-1 {
  background-color:#000;
 }

 .book {
   width: 350px;
   font-family: "Roboto Condensed", "Arial", sans-serif;
   font-weight: 700;
   font-size: 40px;
   line-height: 48px;
   letter-spacing: 0.5px;
   color: #fff;
 }

 .abaut-book {
  width: 400px;
  font-family: "Roboto", "Arial", serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #fff;
 }
 .odrer {
  width: 200px;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
  font-family: "roboto", "arial", serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.5px;
 }

 .section-2 {
  background-color: #fff;
 }

 .Question {
  width: 400px;
  font-family: "Roboto Condensed", serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0.5px;
}

.title {
 width: 300px;
 font-family: 'Roboto Condensed', serif;
 font-weight: 700;
 font-size: 24px;
 line-height: 1.5;
 letter-spacing: 0.5px;
 color: #000;
}

.convenience {
 width: 350px;
 font-family: "roboto", "Aria", serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.5px;
 color: #000;
}

.section-3 {
  width: 1300px;
  background-color: #000;
}

.about-the-book {
 width: 400px;
 font-family: 'Roboto Condensed', serif;
 font-weight: 700;
 font-size: 40px;
 line-height: 48px;
 letter-spacing: 0.5px;
 color: #fff;
}
.definition {
 width: 500px;
 font-family: "Roboto", "Arial", serif;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.5px;
 color: #fff;
}
.separately {
  width: 500px;
 font-family: "Roboto", "Arial", serif;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.5px;
 color: #ff7500;
}

.network {
  width: 300px;
  font-family: "roboto", "Arial", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #252420;
  text-decoration: none;
}

.foot {
 background-color: rgba(248, 248, 248, 1);
}